body, html, main {
  background: black;
}

body > p {
  display: block;
  margin-top: 25px;
  text-align: center;
}

canvas {
  display: block;
  margin: auto;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  background: #d2b98c;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: black;
}
